@model ProductoDTO

<div style="margin:55px 100px;">
    <h2>Nuevo Producto</h2>
    <hr />

    <form method="post" action="@Url.Action("Nuevo","Producto")">

        <div class ="form-group">
            <label>Codigo:</label>
            @Html.TextBoxFor(x=> x.Codigo, new {@class="form-control"})
        </div>
       
        <div class="form-group">
            <label>Categoria:</label>
            @Html.TextBoxFor(x => x.Categoria, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Precio:</label>
            @Html.TextBoxFor(x => x.Precio, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Descripción:</label>
            @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
        </div>

        <div class="form-group">
           <input type="submit" value="Guardar" class="btn btn-success"/>
        </div>

    </form>
</div>

